<div class"large-6 columns">
    <h1><%= params[:name] %></h1>
</div>
<div class"large-6 flow-opposite columns">
    <form method='post' action='/signout'>
      <input type='submit' class="button" value='Logout'>
    </form>
</div>